.container {
	max-width: 1000px;
	margin: 4rem auto 0 auto;

	p {
		text-align: center;
		font-size: 1.12rem;
	}
}

.heading {
	margin: 0 0 1.5rem;
	text-align: center;
	font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
	font-size: 2.75rem;
}