.main {
	max-width: 90%;
	margin: 7rem auto 0 auto;
}

.list {
	max-width: 40%;
	margin: 0 auto 0 auto;
	padding: 1.2rem 2rem 1.2rem 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	border-radius: 10px;

	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;

		img {
			color: #333;
		}

		p {
			margin: 0.8rem 0 0 0;
			color: #333;
		}
	}
}


.content {
	max-width: 1200px;
	margin: 5rem auto 0 auto;
	display: flex;

	video {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	}

	.content1 {
		margin: 6rem 0 0 4rem;
		display: flex;
		flex-direction: column;

		.content2 {
			display: flex;
			align-items: baseline;

			img {
				margin: 0 1rem 0 0;
				width: 22px;
				color: blue;
			}

			h2 {
				font-size: 30px;
				color: rgb(97, 97, 255);;
			}
		}

		p {
			max-width: 60%;
		}
	}
}

.no {
	display: none;
}

// .showcontent {
// 	display: block;
// }